header {
    background-color: #191b22;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Courier New, monospace;
}

header>h1 {
    color: white;
}

.link-header {
    color: blueviolet;
    text-decoration: none;
}

#left-header {
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#left-header>img {
    height: 2rem;
}

header nav {
    display: flex;
    align-items: center;
    width: 22%;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

header > nav > ul li {
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 1rem;
}